# OSX Files
.DS_Store

*.pyc

dist/**

node_modules
src/web_ui/dist/**

src/cloud/s3_event_handlers/*
!src/cloud/s3_event_handlers/s3_event_handlers.py
!src/cloud/s3_event_handlers/talko_lingo/

.config

# Allow .gitkeep for folder structure
!.gitkeep
