# OSX Files
.DS_Store

# The folder to which awscli will generate it's templates
# "There must be a better way..."
dist/*.yml
dist/*/*.yml
dist/*/*/*.yml

# Allow .gitkeep for folder structure
!.gitkeep
