 [Unit]
 After=multi-user.target

 [Service]
 User=pi
 EnvironmentFile=/home/pi/talko-lingo/.config/environment
 Environment=CONFIG_DIR=/home/pi/talko-lingo/.config/
 WorkingDirectory=/home/pi/talko-lingo/src/local/
 ExecStartPre=/usr/bin/amixer sset 'PCM' 100%
 ExecStart=/usr/bin/python -u -m rx.rx

 [Install]
 WantedBy=multi-user.target
