[Unit]
After=multi-user.target

[Service]
Type=idle
User=pi
EnvironmentFile=/home/pi/talko-lingo/.config/environment
Environment=CONFIG_DIR=/home/pi/talko-lingo/.config/
WorkingDirectory=/home/pi/talko-lingo/src/local/
ExecStartPre=/bin/bash -c "mpg321 /home/pi/talko-lingo/sounds/start.mp3"
ExecStart=/usr/bin/python -u -m rx.rx

[Install]
WantedBy=multi-user.target
