 [Unit]
 After=multi-user.target

 [Service]
 EnvironmentFile=/home/pi/talko-lingo/.config/environment
 WorkingDirectory=/home/pi/talko-lingo/src/local/
 ExecStart=/usr/bin/python -m tx.tx

 [Install]
 WantedBy=multi-user.target
