[Unit]
After=multi-user.target

[Service]
User=pi
EnvironmentFile=/home/pi/talko-lingo/.config/environment
WorkingDirectory=/home/pi/talko-lingo/src/local/
ExecStart=/usr/bin/python -u -m tx.tx
Restart=on-failure

[Install]
WantedBy=multi-user.target
