body, html {
    height: 100%;
    background-color: black;
    color: lightgrey;
}


#mainContainer {
    height: 100%;
}

.row {
    height: 100%;
}

.col {
    background-color: black;
}

.speech-to-text.colored {
    background-color: #5EBE92;
}

.translating.colored {
    background-color: #54A983;
}

.text-to-speech.colored {
    background-color: #4B9775;
}

.publishing.colored {
    background-color: #418465;
}

.row.error {
    border: 20px solid #DC3445;
}
